*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    background: rgba(0, 0, 0, 1);
}

canvas{
    image-rendering: pixelated;
    background: #1C1C1C;
}

