

@font-face {
    font-family: "font1";
    src: url(/Snick/Snick/fonts/SourGummy-VariableFont_wdth,wght.ttf);
}







*{
    margin: 0;
    padding: 0;
    font-family: "font1";
}



body {
    
}


.dbug {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    
    min-width: 280px;
    padding: 20px;
    
    border-radius: 20px;
    
    
    color: #9CFFE1;
    font-size: 14px;
    line-height: 1.6;
    
    
    z-index: 9;
}


canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    background-image: url(/Snick/Snick/svg/bg4.svg);
    background-size: 20%;
    image-rendering: pixelated;
}





.stage {
    position: fixed;
    inset: 0;
    overflow: hidden;
}
.stage .bg {
    position: absolute;
    width: 30px;
    height: 30px;

    display: none;

    transform: translate(-50%, -50%);
    border-radius: 50%;

    background:
        radial-gradient(
            circle,
            #48484840,
            #00000075
        );

    border: 2px solid rgba(255, 255, 255, 0.19);

    box-shadow:
        0 0 20px rgba(0, 200, 255, 0.15),
        inset 0 0 20px rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(8px);
}
.stage .joy {
    position: absolute;
    width: 15px;
    height: 15px;
    display: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}


.menu{
    display: none;
}
.menu.ativo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    background: rgba(0, 0, 0, 0.89);
    backdrop-filter: blur(4px);
    z-index: 10;
    font-family: Arial, sans-serif;
    /*background-image: url(/Snick/svg/bg.svg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 25% 20%;*/
}

.menu h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #ffffff;
}

.menu .box {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    
    padding: 10px;
    border-radius: 18px;
}

.menu p {
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
    color: #dcdcdc;
    
    
    border-radius: 12px;
    
    cursor: pointer;
    transition: 0.25s;
    user-select: none;
}

.menu p:hover {
    
    transform: translateY(-2px);
    border-color: #34FBFF;
    color: #34FBFF;
    
}
