
*{
  margin: 0;
  padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    background: #2A2A2E;
}


p{
  position: absolute;
  color: #B4B4B4;
  
  z-index: 1
}



canvas{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  image-rendering: pixelated
}

